
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height:80vh;
    width: 100vw;
    display: flex;
    gap: 15px;
    margin-right: 15px;
    margin-top: 80px;


}
#side{
    width: 25%;
    border: 1px solid #121212;
    border-radius: 15px;
    margin-left: 15px;
    background-color:  #121212;

}
#mainContainer{
    width: 73.5%;
    background-color: #121212;
    border: 1px solid #121212;
    border-radius: 15px;
}

#heading{
    color: black;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    position: relative;
    left: 30px;
    top: 10px;
    border: 1px solid white;
    border-radius: 65px;
    width: 55px;
    height: 40px;
    padding-top: 7px;
    padding-left: 15px;
    background-color: white;
}
 #songList{


    height: 89%;
    overflow-y: auto;
    position: relative;
    top: 35px;



} 
#songList::-webkit-scrollbar{
    
    height: 5px;
    width: 10px;
    

}
#songList::-webkit-scrollbar-track{
    background-color:#121212;
}
#songList::-webkit-scrollbar-thumb{
    background-color:white;
    
}
#songList::-webkit-scrollbar-thumb:hover{
    background-color:rgba(173, 163, 163, 0.664);
}
#listItem{
    width: 100%;
    height: 100px;
    background-color: #121212 ;
    margin-top: 2px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    cursor: pointer;

    

}
#listItem:hover{
    background-color: #444242;

}

.img{
    width: 130px;
    height: 80px;
    border-radius: 8px;

}
.titleHeading{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    color: white;

}
.subHeading{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 15px;
    color: white;

}
#controlContainer{
    height: 25%;
    position: relative;
    top: 300px;
    /* left: 5%; */


    
    

}
#controls{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;



}
#controls button{
    /* margin: 10px; */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#controls button svg{
    width: 60px;
    height: 60px;
}

#backwardBtn{
    width: 40px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
#pauseResumeBtn{
    width: 40px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
#forwardBtn{
    width: 40px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;

}
/* #volumeBtn{
    width: 140px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    gap: 30px;
    

} */
#progressContainer{
    width: 90%;
    height: 8px;
    background-color: #444;
    border-radius: 5px;
    position: relative;
    top: 35%;
    left: 5%;
    
}
.progressBar{
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 5px;
}
#imgContainer{
    position: relative;
    top: 25%;
    width: 100%;
    height: 45%;

    
    
}
.trackImg{
    width: 100%;
    height: 90%;
}
@media (max-width: 375px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        height: 100vh;
    }
    #container{
        flex-direction: column;
        margin-top: 20px;
        height: 95vh;
        


    }
    #side{
        
        width: 315px ;
        height: 230px;
        margin-left: 30px;
    }
    #progressContainer{
        top: 53px;
    }
    #controlContainer{
        top: 63px;
    }
    #mainContainer{
        width: 98%;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 60px;
    }
    #songList{
        height: 70%;
    }
    .img{
        width: 70px;
        height: 70px;
        border-radius: 8px;

    }
    #imgContainer{
        top: 45px;
        width: 100%;
        height: 100px;
    }





    
}